<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="localModel" value="0"/>
		<add key="userName" value="周鑫文"/>
		<add key="passWord" value="zxwailm1"/>
		<add key="server" value="47.104.9.146"/>
		<add key="uid" value="sa"/>
		<add key="pwd" value="zxwailm1."/>
		<add key="database" value="PLAN"/>
		<add key="ConnectionTimeout" value="1"/>
		 
	</appSettings>
</configuration>